<h3>All Invitations</h3>

<% @invitations.each do |invitation| %>
  <p>Advisor_id: <%= invitation.advisor_id %></p>
  <p>Client_id: <%= invitation.client_id %></p>
  <p>Status: <%= invitation.status %></p>
  <a href="/invitations/<%= invitation.id %>/edit">Edit/Delete this Invitation</a>
  <hr>
<% end %>

<a href="/invitations/new"><h4>Create a New Invitation</h4></a>