<h3>Create a Inviation for Existing EthiCapital Client</h3>

<%= form_tag("/invitations", method: "post") do %>
  <label for="advisor_id"> Advisor ID </label>
  <div>
      <input type="text" name="advisor_id" value="<%= current_advisor.id %>">    
    </div>
  
  <label for="client_id"> Client ID </label>
    <div>
      <input type="text" name="client_id">    
    </div>

  <label for="status"> Status </label>
    <div>
      <input type="text" name="status" value="pending">    
    </div>
    <div>
      <input type="submit">
    </div>
<% end %>


<h3>Not an Exiting Ethicapital Client?</h3>