<h3>Create a Inviation for Existing EthiCapital Client</h3>

<%= form_tag("/invitations", method: "post") do %> 
  <label for="client_id"> Client ID </label>
    <div>
      <input type="text" name="client_id">    
    </div>
      
      <br>

    <div>
      <input type="submit">
    </div>
<% end %>