<h3>Show Invitation</h3>

<p>Advisor_id: <%= @invitation.advisor_id %></p>
<p>Client_id: <%= @invitation.client_id %></p>
<p>Status: <%= @invitation.status %></p>


<p><a href="/invitations/<%= @invitation.id %>/edit">Edit/Delete this Invitation</a></p>