    <div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
        <div class="container">
          <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">E</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Ethi
              <span>Capital</span>
            </h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">We Provide a platform for financial advisors and investors who are passionate about
              <span class="color-warning">Ethical Investments</span> and their impact on the world.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
          <div class="card-block">
            <h2 class="color-primary">About Us</h2>
            <div class="row">
              <div class="col-md-6 text-justify">
                <p class="dropcaps">As citizens we are given one vote per person, but as investors we're given as many votes as we choose to invest. In a world where populations are stagerling unrepresented by their elected officials, we have the opportunity to make positive changes while earning competitive returns. At <a href="/">EthiCapital</a> we believe that you shouldn't be punished for doing the right thing.</p>
                <p>There has been a growing demand for ethically screened and tested investments, both by individuals and by investment firms. We help by building <a href="/risk_models">investment models</a> that only include <a href="/esg">ESG/SRI</a> approved stocks and bonds. That way you can invest with a clean conscience. </p>
              </div>
              <div class="col-md-6 text-justify">
                <p>Here at EthiCapital, we have also simplified the Advisor - Client relationship by building contracts between the two parties. These contracts can be saved on our site and downloaded to your personal computer in PDF format. If you're an investor, but don't have an advisor, you can use our <a href="/search_advisors/new">search engine</a> to find an advisor near you or with your desired fields of interest.</p>
                <p>As an advisor you have the ability to track multiple clients and gain from our search engine's <a href="/search_advisors/new">lead generation</a> and gain prospective clients. Clients can join for <a href="/prices">free</a> and advisors have a small monthly <a href="/prices">fee</a>. We take the "paper" and the "work" out of paperwork, allowing you to focus on what's truly important, the advisor - client relationship.</p>
              </div>
            </div>
            <hr class="dotted">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="card card-info card-flat">
                  <div class="card-block text-center">
                    <i class="fa fa-rocket color-info font-big"></i>
                    <h4 class="color-info">Ethical Risk Models</h4>
                    <p>We provide 5 ethically tested, investment options tailored to your risk tolerance.</p>
                    <a href="/risk_models" class="btn btn-info">
                      <i class="zmdi zmdi-download"></i> Our Models</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card card-warning card-flat">
                  <div class="card-block text-center">
                    <i class="zmdi zmdi-airplane color-warning font-big"></i>
                    <h4 class="color-warning">Advisor Search</h4>
                    <p>Search through our network of advisors by distance, area of focus, or both.</p>
                    <a href="/search_advisors/new" class="btn btn-warning">
                      <i class="zmdi zmdi-download"></i> Search Advisors</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card card-danger card-flat">
                  <div class="card-block text-center">
                    <i class="zmdi zmdi-coffee color-danger font-big"></i>
                    <h4 class="color-danger">Doc Signing</h4>
                    <p>Download your proposals to PDF, sign, and upload through our site. We'll save it for you.</p>
                    <a href="/signup" class="btn btn-danger">
                      <i class="zmdi zmdi-download"></i> Sign Up and See</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card card-success card-flat">
                  <div class="card-block text-center">
                    <i class="zmdi zmdi-nature-people color-success font-big"></i>
                    <h4 class="color-success">Make A Difference</h4>
                    <p>Every dollar you invest through EthiCapital makes a positive impact on the world.</p>
                    <a href="/esg" class="btn btn-success">
                      <i class="zmdi zmdi-download"></i> Impact Investing</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap ms-hero-bg-dark-light ms-hero-img-airplane ms-bg-fixed mb-6 mt-4">
        <div class="container">
          <h2 class="text-center color-white no-mt mb-6 wow fadeInUp">Our Services</h2>
          <div class="col-md-4 col-sm-6">
            <div class="ms-icon-feature wow flipInX animation-delay-4">
              <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                  <i class="fa fa-cloud"></i>
                </span>
              </div>
              <div class="ms-icon-feature-content color-white">
                <h4 class="color-primary">Ethical Risk Models</h4>
                <p>Fill out one of our questionnaires and we'll select a portfolio that matches your needs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ms-icon-feature wow flipInX animation-delay-4">
              <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                  <i class="fa fa-desktop"></i>
                </span>
              </div>
              <div class="ms-icon-feature-content color-white">
                <h4 class="color-primary">Find an Advisor</h4>
                <p>Dont' have an advisor? No problem. Use our <a href="/search_advisors">advisor search</a> to find an advisor near you, in your area of interest, or both.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ms-icon-feature wow flipInX animation-delay-4">
              <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                  <i class="fa fa-tablet"></i>
                </span>
              </div>
              <div class="ms-icon-feature-content color-white">
                <h4 class="color-primary">Document Signing</h4>
                <p>You can download your unsigned proposals, sign them, and upload your signed documents to EthiCapital. Now you've got a signed contract with your advisor.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ms-icon-feature wow flipInX animation-delay-4">
              <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                  <i class="fa fa-wordpress"></i>
                </span>
              </div>
              <div class="ms-icon-feature-content color-white">
                <h4 class="color-primary">Track Multiple Clients/Advisors</h4>
                <p>Our platform will keep track of your client - advisor relationship. We notify you when you have pending invitations or proposals so you stay current.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ms-icon-feature wow flipInX animation-delay-4">
              <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                  <i class="fa fa-graduation-cap"></i>
                </span>
              </div>
              <div class="ms-icon-feature-content color-white">
                <h4 class="color-primary">Join the ESG Community</h4>
                <p>Build contacts through our platform for further environmental and social justice.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ms-icon-feature wow flipInX animation-delay-4">
              <div class="ms-icon-feature-icon">
                <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                  <i class="fa fa-send"></i>
                </span>
              </div>
              <div class="ms-icon-feature-content color-white">
                <h4 class="color-primary">Impact Investing</h4>
                <p>Become part of the solution. Every dollar you invest with EthiCapital goes to making the world a happier, healtheir place.</p>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="/risk_models" class="btn btn-raised btn-info wow flipInX animation-delay-8">
              <i class="fa fa-space-shuttle"></i> Our Models</a>
            <a href="/esg" class="btn btn-raised btn-warning wow flipInX animation-delay-9">
              <i class="fa fa-info"></i> More about ESG</a>
          </div>
        </div>
      </div>
      <div class="container">
        <h1 class="color-primary text-center wow fadeInUp animation-delay-4">Our Team</h1>
        <p class="lead text-center wow fadeInUp animation-delay-4">Professional, Powerful, Impactful</p>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-warning wow zoomInUp animation-delay-5 hidden">
              <div class="withripple zoom-img">
                <a href="javascript:void()" class="">
                  <img src="assets/img/demo/p2.jpg" alt="..." class="img-responsive">
                </a>
              </div>
              <div class="card-block">
                <span class="label label-warning pull-right">CEO</span>
                <h3 class="color-warning">Antonie Smith</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-raised btn-sm btn-warning">
                      <i class="zmdi zmdi-account"></i> Perfil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-success wow zoomInUp animation-delay-7">
              <div class="withripple zoom-img">
                <a href="javascript:void()" class="">
                  <img src="assets/img/myface.jpg" alt="..." class="img-responsive">
                </a>
              </div>
              <div class="card-block">
                <span class="label label-success pull-right">Lead Software Engineer</span>
                <h3 class="color-success">Jamie MacKillop</h3>
                <p>Jamie comes from a family of portfolio managers and has been inspired to create an ethical option for investors.</p>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="https://www.linkedin.com/in/jamie-mackillop-web-dev" class="btn btn-raised btn-sm btn-success">
                      <i class="zmdi zmdi-account"></i> Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-royal wow zoomInUp animation-delay-9 hidden">
              <div class="withripple zoom-img">
                <a href="javascript:void()" class="">
                  <img src="assets/img/demo/p3.jpg" alt="..." class="img-responsive">
                </a>
              </div>
              <div class="card-block">
                <span class="label label-royal pull-right">Developer</span>
                <h3 class="color-royal">Lyana Morgan</h3>
                <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="javascript:void(0)" class="btn btn-raised btn-sm btn-royal">
                      <i class="zmdi zmdi-account"></i> Perfil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>