<h1>Why ESG?</h1>

<div class="row">
  <div class="col-md-5">
    <p>As citizens we are given one vote per person, but as investors we're given as many votes as we choose to invest. In a world where populations are stagerling unrepresented by their elected officials, we have the opportunity to make positive changes while earning competitive returns. At EthiCapital we believe that you shouldn't be punished for doing the right thing.</p>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <p>The largest investors in the ESG market are Millenials and Women. Millenials are coming into their 30's, which is traditionally when people start to invest more. Women are gaining a more dominant role in the work force as well. This means that the two most influential investors in ESG are about to have more disposible income that they can invest. </p>
  </div>
</div>

<div>

  <p>ESG stands for Environmental, Social, Governance.</p>

    <p>Around a third of institutional investors and professionals now consider it to be a source of alpha generation and risk mitigation, according to research by RBC Global Global Asset Management. - https://globalinvestorgroup.com/Articles/3649167/ESG-investing-Facing-the-future</p>

    <p>An important segment of ESG incorporation, community investing, seeks explicitly to finance projects or institutions that will serve poor and underserved communities in the United States and overseas. - http://www.ussif.org/esg
    Positive selectors and negative screens. Impact investing: aimed at solving social or environmental problems. 
    The benefits are two-fold.</p>

    <p>MIT BOSTON and CONSULTING GROUP
    Investors see a strong link between corporate sustainability performance and financial performance — so they’re using sustainability-related data as a rationale for investment decisions like never before.
    http://sloanreview.mit.edu/projects/investing-for-a-sustainable-future/
    …evidence mounts that sustainability-related activities are material to the financial success of a company over time. Investors care more about sustainability issues than many executives believe….Sustainability-oriented investment funds are also becoming more prevalent and have garnered assets worth trillions of dollars.  ——    Investors believe that sustainability creates tangible value: Seventy-five percent cite improved revenue performance and operational efficiency from sustainability as strong reasons to invest. More than 60% believe that solid sustainability performance reduces a company’s risks. Nearly the same number also strongly believe that it lowers a company’s cost of capital.</p>
    <p>  *** Investors are prepared to divest: Nearly half of investors say that they won’t invest in a company with a record of poor sustainability performance. Some 60% of investment firm board members say they are willing to divest from companies with a poor sustainability footprint.</p>
    <p>  *** Seventy-four percent of all surveyed investors believe that sustainability performance matters more than it did three years ago. (See Figure 1 and Figure 2.)</p>
    <p>  *** Seventy-five percent of executives in investment firms agree that a company’s good sustainability performance is materially important to their firms when making investment decisions.</p>
    <p> *** More than half of investors who are fully informed about their organization’s sustainability practices say their companies exclude or divest from businesses that have poor sustainability performance.</p>

    <p>1. At least three factors are driving investor interest in sustainability. One is the growth of analytics and sophisticated modeling that shows how and when sustainability investments create shareholder value. These models are meeting growing investor demand for data on corporate sustainability efforts that can be included in corporate valuations and comparative analyses. Large firms like Bloomberg and Thompson Reuters collect data on sustainability issues, and most large investment firms, including BlackRock, have specialized departments examining these issues.</p>
    <p>2. Another factor is research from academic institutions and investment firms that links effective management of material sustainability issues to strong financial performance. In a study of the world’s 500 largest companies, for example, Harvard Business School professor George Serafeim and Bethesda, Maryland-based Calvert Investments found that strong ESG performance has a high correlation with strong valuations, expected growth, and lower costs of capital. The study also found that high ESG performance correlates strongly with lower credit default swap spreads.2 the HBS researchers found that high-sustainability companies significantly outperformed other companies in terms of stock market performance and other financial performance measures.3 In 2015, investment management firm Arabesque Partners and researchers from Oxford University released the findings of their analysis of more than 200 sustainability studies and reports. Ninety percent of the studies that the firm examined found that sound sustainability standards lower a company’s cost of capital. Nearly 90% concluded that solid ESG practices drive improvements in operational performance. Eighty percent of the studies discovered that good sustainability practices influence stock price.</p>
    <p>3. A third, related factor behind the emergence of the sustainability-oriented investor is a shift in attitude within the investor community about the connection between strong sustainability performance, value creation, and risk reduction. While it may have been the case at one time that only activist investors saw a connection between these activities, now 75% of investment community respondents see improved revenue performance from sustainability as a strong reason to invest. (See Figure 3.) Almost 75% of investment community respondents feel strongly that increased operational efficiency often accompanies sustainability progress. In addition, more than 80% of investor respondents indicate that good sustainability performance increases a company’s potential for long-term value creation…. Perhaps most important, investors believe that good sustainability performance is a sign of effective management.</p>

     <p>In 2014, according to the Forum for Sustainable and Responsible Investment (US SIF), $1 of every $6 invested was put into sustainability investment strategies — a jump of 76% since 2012.5</p>

    <p>Arabesque has developed a similar model that it uses to identify the top 1,000 responsible equities (out of approximately 77,000 listed global equities) based on ESG and business metrics.9 In 2014, the company’s Prime Fund outperformed the MSCI AC World Index by nearly 3%. Its Systematic Fund outperformed the index by 5%.10</p>

    <p>Nearly half of all surveyed investors — 44% — say that poor sustainability performance is a deal breaker; they won’t invest in a company with poor sustainability performance. Nearly 60% of investment firm board members say they are willing to divest from companies that have poor sustainability performance. </p>

    <p>Norway’s largest pension fund, Kommunal Landspensjonskasse, or KLP, is indicative of the trend. It has decided to divest all of its investments in coal companies. KLP will invest those funds in renewable-energy production companies in emerging economies.13</p>

    <p>In 2015, Corporate Knights, a Toronto-based media and research company, launched its Decarbonizer tool, where any investor can see what effect a divestment in 2012 from fossil fuels would have had on a fund or index performance in 2015.  The Bill and Melinda Gates Foundation, for example, would have been nearly $2 billion ahead had it divested from fossil fuels.</p>
</div>