<div class="material-background"></div>
      <div class="container">
        <div class="card wow slideInUp">
          <div class="card-block-big">
            <h1 class="color-primary">Environmental, Social, Governance</h1>
            <p>ESG stands for <strong>Environmental, Social, and Governance</strong>. ESG investments are the selection of stocks and bonds that focus on companies and public organizations that work to improve the environment, promote social justice, and have a <strong>management system that promotes equality and transparency</strong>. If you are invested in ESG you are positively effecting:</p>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Climate Change</li>
                  <li>Renewable Energy</li>
                  <li>Sustainability</li>
                  <li>Diversity</li>
                  <li>Human Rights</li>
                </ul>
              </div>
              <div class="col-md-6">
                  <li>Consumer Protection</li>
                  <li>Animal Welfare</li>
                  <li>Management Structure</li>
                  <li>Employee Relations</li>
                  <li>Executive Compensation</li>
                </ul>
              </div>
            </div>
            <p><strong>SRI screens</strong> are further used to remove companies and organizations that promote environmental destruction, non-sustainable practices, unequal employment opportunities, limited shareholder influence, and much more.</p>
          </div>
          <img src="assets/img/cloud-city.jpeg" alt="" class="img-responsive">
          <div class="card-block-big">
            <h2 class="color-primary">Facts and Figures</h2>
            <p>According to the <a href="http://sloanreview.mit.edu/projects/investing-for-a-sustainable-future/">MITSloan Management Review</a> "evidence mounts that sustainability-related activities are material to the financial success of a company over time." They also noted that "seventy-four percent of all surveyed investors believe that sustainability performance matters more than it did three years ago." If you're an <strong>advisor</strong> you may want to pay attention to that fact. There is a growing demand for ESG investments and our platform can help you meet this demand, while fulfilling your <strong>fudiciary responsibiliy</strong>.</p>
            <p class=" centered_text lead">Your wallet shouldn't have to suffer because you are doing the right thing. Good thing that ESG investments are secure, long-term investments.</p>
            <p>"In 2015, Corporate Knights, a Toronto-based media and research company, launched its Decarbonizer tool, where any investor can see what effect a divestment in 2012 from fossil fuels would have had on a fund or index performance in 2015.  The Bill and Melinda Gates Foundation, for example, <strong>would have been nearly $2 billion ahead had it divested from fossil fuels."</strong></p>
          </div>
          <div class="bg-info">
            <div class="card-block-big">
              <h2 class="color-white text-center mb-4">The ESG Industry</h2>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-block text-center wow zoomInUp animation-delay-2">
                    <h2 class="counter color-info">8700000</h2>
                    <i class="fa fa-4x fa-coffee color-info"></i>
                    <p class="mt-2 no-mb lead small-caps color-info">Millions of Dollars Invested ESG</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-block text-center wow zoomInUp animation-delay-5">
                    <h2 class="counter color-info">121600</h2>
                    <i class="fa fa-4x fa-briefcase color-info"></i>
                    <p class="mt-2 no-mb lead small-caps color-info">Millions of dollars of Community Invesments</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-block text-center wow zoomInUp animation-delay-4">
                    <h2 class="counter color-info">1420000</h2>
                    <i class="fa fa-4x fa-comments-o color-info"></i>
                    <p class="mt-2 no-mb lead small-caps color-info">Millions of Dollars in Climate Change</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card card-block text-center wow zoomInUp animation-delay-3">
                    <h2 class="counter color-info">621</h2>
                    <i class="fa fa-4x fa-group color-info"></i>
                    <p class="mt-2 no-mb lead small-caps color-info">% Growth of Sustainable Investing, 2012-16</p>
                  </div>
                </div>
              </div>
              <p class="lead lead-lg text-center mt-4">Be a part of the Solution!<br>
              Invest today and start impacting the world in a positive way, like you've always wanted. </p>
            </div>
          </div>
          