<h1>Why ESG?</h1>

<div class="row">
  <div class="col-md-5">
    <p>As citizens we are given one vote per person, but as investors we're given as many votes as we choose to invest. In a world where populations are stagerling unrepresented by their elected officials, we have the opportunity to make positive change and earn some money.</p>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <p>The largest investors in the ESG market are Millenials and Women. Millenials are coming into their 30's, which is traditionally when people start to invest more. Women are gaining a more dominant role in the work force as well. This means that the two most influential investors in ESG are about to have more disposible income that they can invest. </p>
  </div>
</div>