  <div class="intro-full ms-hero-img-city2 ms-hero-bg-primary color-white" id="home">
        <div id="intro-video" class="hidden-sm" data-type="youtube" data-video-id="watch?v=RzgVq8a468A" data-plyr='{ "autoplay": true, "volume": 0, "controls": [], "loop": true }'></div>
        <div class="intro-full-content index-1">
          <div class="container">
            <div class="text-center mb-4">
              <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">E</span>
              <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Ethi
                <span>Capital</span>
              </h1>
              <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Strengthen your Investment Portfolio
                <span class="color-warning">while</span> contributing to a happier, healthier world. </p>
            </div>
            <div class="text-center mb-2 hidden">
              <a id="go-intro-full-next" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-white animated zoomInUp animation-delay-12">
                <i class="zmdi zmdi-long-arrow-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div>
      <div class="bg-light index-1 intro-full-next pt-6">
        <div class="container" id="intro-next">
          <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">High Performance Impact Investments</h2>
          <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Connecting Investors with Financial Advisors under an
            <span class="color-primary"> ESG portfolio management </span> system. Voting with your dollars has never been easier.</p>
          
          <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-4">
            <div class="text-center card-block">
              <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info">
                <i class="zmdi zmdi-shield-security"></i>
              </span>
              <h4 class="color-info">Impact Investing</h4>
              <p class="">Looking for change? Let's make the world better, together.</p>
              <a href="/esg" class="btn btn-info btn-raised">Learn more</a>
            </div>
          </div>
        
          <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-8">
            <div class="text-center card-block">
              <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning">
                <i class="zmdi zmdi-print"></i>
              </span>
              <h4 class="color-warning">Proposal Generator</h4>
              <p class="">Takes the "paper" and "work" out of your Advisor relaitonship.</p>
              <a href="/about" class="btn btn-warning btn-raised">Learn more</a>
            </div>
          </div>
          
          <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-10">
            <div class="text-center card-block">
              <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success">
                <i class="zmdi zmdi-puzzle-piece"></i>
              </span>
              <h4 class="color-success">Find an ESG Advisor</h4>
              <p class="">Don't have an Advisor? No problem. Take one of ours!</p>
              <a href="/search_advisors/new" class="btn btn-success btn-raised">Learn more</a>
            </div>
          </div>
          
          <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-6">
            <div class="text-center card-block">
              <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger">
                <i class="zmdi zmdi-flower-alt"></i>
              </span>
              <h4 class="color-danger">Custom Portfolios</h4>
              <p class="">ESG investments customized to fit your life's needs.</p>
              <a href="/risk_models" class="btn btn-danger btn-raised">Learn more</a>
            </div>
          </div>
        </div>


        <!-- container -->
        <section id="services" class="mt-6">
          <div class="wrap ms-hero-img-meeting ms-hero-bg-info color-white ms-bg-fixed">
            <div class="container">
              <div class="text-center mb-4">
                <h1 class="wow zoomInDown">EthiCapital</h1>
                <h3 class="wow zoomInDown">Investments for
                  <span class="text-normal">a better tomorrow</span> start today.</h3>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="wow fadeInUp animation-delay-2">How We Help</h3>
                  <p class="wow fadeInUp animation-delay-3">In a democracy every one person gets
                    <strong>one vote</strong>, but what if you could have <strong>more</strong>? 
                  </p>
                  <p class="wow fadeInUp animation-delay-4">Impact Investing allows your dollars to vote for you and here at EthiCapital, we've prepared <strong>Ethically Tested</strong> portfolios to reflect those votes. By using a core-satelite based ESG model (<a href="/esg" class="color-warning">Environmental, Social, and Governance</a>) you can plan for retirement, while strengthening companies that follow sustainable business practices. We've filtered out companies that pollute the planet or treat their workers poorly and we don't support businesses located in conflict countries. We've included companies that promote renewable energy, fair trade, equal oportunity, and a cleaner, safer world. We then pour over the companies that fit these screens and looked for the ones that will foster long term growth for your portfolio. Your wallet shouldn't have to suffer for doing the right thing. Good thing for you, you're more likely to succeed with ESG investments. Look to the right to see what we mean.
                </div>
                <div class="col-md-6">
                  <div class="panel-group ms-collapse color-dark" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-info wow fadeInUp animation-delay-2">
                      <div class="panel-heading" role="tab" id="headingOne2">
                        <h4 class="panel-title">
                          <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            <i class="fa fa-lightbulb-o"></i> What the research says... </a>
                        </h4>
                      </div>
                      <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body in">
                          <p>In 2015, investment management firm Arabesque Partners and researchers from Oxford University released the findings of their analysis of more than 200 sustainability studies and reports. Ninety percent of the studies that the firm examined found that sound sustainability standards lower a company’s cost of capital and drive improvements in their operational performance. Check out 
                          <a href="http://sloanreview.mit.edu/projects/investing-for-a-sustainable-future/" class="color-warning">MITSloans report </a> to see more.</p></p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-info wow fadeInUp animation-delay-5">
                      <div class="panel-heading" role="tab" id="headingTwo2">
                        <h4 class="panel-title">
                          <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            <i class="fa fa-desktop"></i> Beat the market </a>
                        </h4>
                      </div>
                      <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="panel-body">
                          <p>Arabesque has developed a similar model that it uses to identify the top 1,000 responsible equities (out of approximately 77,000 listed global equities) based on ESG and business metrics.9 In 2014, the company’s Prime Fund outperformed the MSCI AC World Index by nearly 3%. Its Systematic Fund outperformed the index by 5%</p>
                          <p>In 2015, Corporate Knights, a Toronto-based media and research company, launched its Decarbonizer tool, where any investor can see what effect a divestment in 2012 from fossil fuels would have had on a fund or index performance in 2015.  The Bill and Melinda Gates Foundation, for example, would have been nearly $2 billion ahead had it divested from fossil fuels.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-info wow fadeInUp animation-delay-7">
                      <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                          <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                            <i class="fa fa-user"></i> Power of Impact Investing </a>
                        </h4>
                      </div>
                      <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                        <div class="panel-body">
                          <p> The Vital Capital Fund invests in sub-Saharan African businesses and projects in order to develop infrastructure, housing, agro-industrial projects, renewable energy, health care and education. </p>
                          <p> Triodos Investment Management invests in renewable energy, arts, culture, sustainable real estate, health care, and organic farming throughout Europe, South America, Africa, India, and Southeast Asia.</p>
                          <p> The Community Reinvestment Fund, USA provides small business loans to American companies. They also give assistance to community housing projects, schools, day care centers, and community facilities.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-6 color-dark">
                <h2 class="color-white text-center mb-4 wow fadeInUp animation-delay-2">ESG Growth and Performance</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-royal-inverse card-block text-center wow zoomInUp animation-delay-2">
                      <h2 class="counter">8700000</h2>
                      <i class="fa fa-4x fa-coffee"></i>
                      <p class="mt-2 no-mb lead small-caps">Millions of Dollars invested in ESG</p> <p>($8.7 trillion)</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-success-inverse card-block text-center wow zoomInUp animation-delay-5">
                      <h2 class="counter">121600</h2>
                      <i class="fa fa-4x fa-briefcase"></i>
                      <p class="mt-2 no-mb lead small-caps">Millions of dollars invested by Community Invesments</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-danger-inverse card-block text-center wow zoomInUp animation-delay-4">
                      <h2 class="counter">1420000</h2>
                      <i class="fa fa-4x fa-comments-o"></i>
                      <p class="mt-2 no-mb lead small-caps">Millions of Dollars invested in Climate Change/Carbon</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-warning-inverse card-block text-center wow zoomInUp animation-delay-3">
                      <h2 class="counter">621</h2>
                      <i class="fa fa-4x fa-group"></i>
                      <p class="mt-2 no-mb lead small-caps">Growth of sustainable investing (by %): 2012-2016</p>
                    </div>
                  </div>
                </div>
                <div class="text-center color-white mw-800 center-block mt-4">
                  <p class="lead lead-lg wow fadeInUp animation-delay-2">ESG based investments now make up over <span class="color-warning">20% of all professionally managed assets.</span> In 2012 there were only $1.4 trillion invested in ESG. Now there is $8.7 trillion invested in ESG. That means that in a little over 4 years, the amount of sustainable investments has grown by over 621%. </p>
                  <a href="http://www.ussif.org/sribasics" class="btn btn-raised btn-xlg btn-white color-info wow flipInX animation-delay-5">
                    <i class="fa fa-space-shuttle"></i> Discover more Statistics</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="portfolio" class="">
          <div class="wrap ms-hero-bg-dark ms-hero-img-keyboard ms-bg-fixed">
            <div class="container index-1">
              <div class="text-center color-white mb-4 mw-800 center-block">
                <h1 class="wow fadeInUp animation-delay-2">How your Investments Help</h1>
                <p class="lead color-medium wow fadeInUp animation-delay-2">See where and how our portfolios impact communities
                  <span class="color-white">around the world</span> and at home.</p>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                      <img src="assets/img/business-skybridge.jpg" alt="" class="img-responsive">
                      <figcaption class="ms-thumbnail-caption text-center">
                        <div class="ms-thumbnail-caption-content">
                          <h3 class="ms-thumbnail-caption-title">Renewable Energy</h3>
                          <p>Solar, Wind, Hyrdo</p>
                          <a href="https://www.nrel.gov/workingwithus/learning.html" class="btn btn-raised btn-danger">
                            <i class="zmdi zmdi-eye"></i> Learn more</a>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                      <img src="assets/img/farmer.jpeg" alt="" class="img-responsive">
                      <figcaption class="ms-thumbnail-caption text-center">
                        <div class="ms-thumbnail-caption-content">
                          <h3 class="ms-thumbnail-caption-title">Microfinancing</h3>
                          <p>Sponsoring invididuals and small businesses</p>
                          <a href="http://opportunity.org/what-we-do/microfinance/" class="btn btn-raised btn-danger">
                            <i class="zmdi zmdi-eye"></i> Learn more</a>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                      <img src="assets/img/hands-together.jpeg" alt="" class="img-responsive">
                      <figcaption class="ms-thumbnail-caption text-center">
                        <div class="ms-thumbnail-caption-content">
                          <h3 class="ms-thumbnail-caption-title">Public Projects</h3>
                          <p>How Green Bonds promote healthy communities</p>
                          <a href="http://treasury.worldbank.org/cmd/htm/WorldBankGreenBonds.html" class="btn btn-raised btn-danger">
                            <i class="zmdi zmdi-eye"></i> Learn more</a>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </section>
        <section id="pricing">
          <div class="wrap ms-hero-img-airplane ms-hero-bg-royal ms-bg-fixed">
            <div class="container">
              <div class="text-center mb-4">
                <h2 class="uppercase color-white wow fadeInDown animation-delay-2">See our membership plans</h2>
                <p class="lead uppercase color-light wow fadeInDown animation-delay-2">Free for Investors. Nominal Fees for Advisors</p>
              </div>
              <div class="row">
                <div class="col-md-4 price-table price-table-success wow zoomInUp">
                  <header class="price-table-header">
                    <span class="price-table-category">Clients</span>
                    <h3>
                      <sup>$</sup>0
                      <sub>/mo.</sub>
                    </h3>
                  </header>
                  <div class="price-table-body">
                    <ul class="price-table-list">
                      <li>
                        <i class="zmdi zmdi-code"></i> Free access to Investment Models</li>
                      <li>
                        <i class="zmdi zmdi-globe"></i> Sign and save contracts with your advisor</li>
                      <li>
                        <i class="zmdi zmdi-settings"></i> Work with our in-network Advisors or your own </li>
                      <li>
                        <i class="zmdi zmdi-cloud"></i> Risk calculator to customize your portfolio</li>
                      <li>
                        <i class="zmdi zmdi-star"></i> Work with multiple advisors</li>
                    </ul>
                    <div class="text-center">
                      <a href="javascript:void(0)" class="btn btn-success btn-raised">
                        <i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 price-table price-table-info prominent wow zoomInDown">
                  <header class="price-table-header">
                    <span class="price-table-category">Advisors</span>
                    <h3>
                      <sup>$</sup>250
                      <sub>/mo.</sub>
                    </h3>
                  </header>
                  <div class="price-table-body">
                    <ul class="price-table-list">
                      <li>
                        <i class="zmdi zmdi-code"></i> Automated proposal generation</li>
                      <li>
                        <i class="zmdi zmdi-globe"></i> Access to ESG models</li>
                      <li>
                        <i class="zmdi zmdi-settings"></i> Clients referred to you</li>
                      <li>
                        <i class="zmdi zmdi-cloud"></i> Manages multiple clients and their forms</li>
                      <li>
                        <i class="zmdi zmdi-star"></i> Give your existing clients ESG options</li>
                    </ul>
                    <div class="text-center">
                      <a href="javascript:void(0)" class="btn btn-info btn-raised">
                        <i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 price-table price-table-danger wow zoomInUp">
                  <header class="price-table-header">
                    <span class="price-table-category">Client Referral Fee</span>
                    <h3>
                      <sup>$</sup>100
                      <sub>/client</sub>
                    </h3>
                  </header>
                  <div class="price-table-body">
                    <ul class="price-table-list">
                      <li>
                        <i class="zmdi zmdi-code"></i> We connect you to new clients</li>
                      <li>
                        <i class="zmdi zmdi-globe"></i> Only pay if client stays for 6 months</li>
                      <li>
                        <i class="zmdi zmdi-settings"></i> Never pay for your existing clients</li>
                      <li>
                        <i class="zmdi zmdi-cloud"></i> Expand your clientelle</li>
                      <li>
                        <i class="zmdi zmdi-star"></i> Grow your business</li>
                    </ul>
                    <div class="text-center">
                      <a href="javascript:void(0)" class="btn btn-danger btn-raised">
                        <i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--container -->
          </div>
        </section>
        <section id="team">
          <div class="container pt-6">
            <h1 class="color-primary text-center wow fadeInUp animation-delay-2">Our Team</h1>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-danger wow zoomInUp animation-delay-7 hidden">
                  <div class="ms-hero-bg-danger ms-hero-img-city">
                    <img src="assets/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle"> </div>
                  <div class="card-block pt-6 text-center">
                    <h3 class="color-danger">Victoria Smith</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-info wow zoomInUp animation-delay-7">
                  <div class="ms-hero-bg-info ms-hero-img-city">
                    <img src="assets/img/myface.jpg" alt="..." class="img-avatar-circle"> </div>
                  <div class="card-block pt-6 text-center">
                    <h3 class="color-info">Jamie MacKillop</h3>
                    <p>Lead Software Engineer for EthiCapital. Jamie is responsible for both the F/E and B/E portions of this site. He enjoys social justice projects and believes in the life philosophy: "Leave it better than you found it."</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
                      <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
                      <i class="zmdi zmdi-twitter"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
                      <i class="zmdi zmdi-instagram"></i>
                    </a>
                  </div>
                </div>
              </div>
        </section>
      
        <footer class="ms-footer">
          <div class="container">
            <p>Copyright &copy; EthiCapital 2017</p>
          </div>
        </footer>
        <div class="btn-back-top">
          <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
            <i class="zmdi zmdi-long-arrow-up"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- sb-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-momentum-scrolling sb-style-overlay">
      <header class="ms-slidebar-header">
        <div class="ms-slidebar-login">
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account"></i> Login</a>
          <a href="javascript:void(0)" class="withripple">
            <i class="zmdi zmdi-account-add"></i> Register</a>
        </div>
        <div class="ms-slidebar-title">
          <form class="search-form">
            <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
            <label for="search-box-slidebar">
              <i class="zmdi zmdi-search"></i>
            </label>
          </form>
          <div class="ms-slidebar-t">
            <span class="ms-logo ms-logo-sm">E</span>
            <h3>Ethi
              <span>Capital</span>
            </h3>
          </div>
        </div>
      </header>
      <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
        <li>
          <a data-scroll class="link" href="#home">
            <i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li>
          <a data-scroll class="link" href="#services">
            <i class="zmdi zmdi-flight-takeoff"></i> Services</a>
        </li>
        <li>
          <a data-scroll class="link" href="#portfolio">
            <i class="zmdi zmdi-desktop-mac"></i> Portfolio</a>
        </li>
        <li>
          <a data-scroll class="link" href="#pricing">
            <i class="zmdi zmdi-money-box"></i> Pricing</a>
        </li>
        <li>
          <a data-scroll class="link" href="#about">
            <i class="zmdi zmdi-info-outline"></i> About Us</a>
        </li>
        <li>
          <a data-scroll class="link" href="#team">
            <i class="zmdi zmdi-accounts"></i> Team</a>
        </li>
        <li>
          <a data-scroll class="link" href="#contact">
            <i class="zmdi zmdi-email"></i> Contact</a>
        </li>
        <li>
          <a data-scroll class="link" href="index.html">
            <i class="zmdi zmdi-swap"></i> Main Site</a>
        </li>
      </ul>
      <div class="ms-slidebar-social ms-slidebar-block">
        <h4 class="ms-slidebar-block-title">Social Links</h4>
        <div class="ms-slidebar-social">
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-facebook">
            <i class="zmdi zmdi-facebook"></i>
            <span class="badge badge-pink">12</span>
          </a>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-twitter">
            <i class="zmdi zmdi-twitter"></i>
            <span class="badge badge-pink">4</span>
          </a>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-youtube">
            <i class="zmdi zmdi-youtube"></i>
          </a>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm btn-instagram">
            <i class="zmdi zmdi-instagram"></i>
          </a>
        </div>
      </div>
    </div>













<!-- Below is the original -->
<!-- <h1>Welcome to EthiCapital.io</h1>

<div class="row">
  <div class="col-md-6">
    <h3>New Advisor?</h3>
    <a href="/advisors/new"><h3>Signup Here</h3></a>
  </div>

  <div class="col-md-6">
    <h3>New Client?</h3>
    <a href="/clients/new"><h3>Signup Here</h3></a>
  </div>
</div>
 -->