<h3>Here are all the Questionnaires</h3>
<% @questionnaires.each_slice(3) do |questionnaire3| %>
  <div class="row">
    <% questionnaire3.each do |questionnaire| %>
      <div class="col-md-4 well">
        <p>Questionnare ID: <%= questionnaire.id %></p>
        <p><%= (questionnaire.question_1 + questionnaire.question_2 + questionnaire.question_3 + questionnaire.question_4 + questionnaire.question_5 + questionnaire.question_6 + questionnaire.question_7 + questionnaire.question_8 + questionnaire.question_9 + questionnaire.question_10 + questionnaire.question_11).to_f / 52.0 * 100  %></p>
        <p>Average: <%= questionnaire.average %></p>
        <p>Advisor ID: <%= questionnaire.advisor_id %></p>
      </div> <!-- Ends col-md-4 -->
    <% end %> <!-- Ends questionnairre3.each -->
  </div> <!-- Ends div row -->
<% end %> <!-- Ends slice(3) -->

<% if current_client %>
  <a href='/questionnaires/new'><h3>Fill out a Risk Questionnaire</h3></a>
<% end %>