<div class="container">
  <h2>Client Questionnaire</h2>
  <p> 1. I plan to begin taking money from my investments in . . . </p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">1 year or less </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">1 – 2 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">3 – 5 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">6 – 10 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">11 – 15 years </label>
    </div>
  </form>
  <p> 2. As I withdraw money from these investments, I plan to spend it over a period of . . . </p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">2 years or less </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">3 – 5 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">6 – 10 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">11 – 15 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">More than 15 years </label>
    </div>
  </form>
  <p> 3. When making a long­term investment, I plan to keep the money invested for . . . </p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">1 - 2 years</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">3 – 4 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">5 – 6 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">7 - 8 years </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">More than 8 years </label>
    </div>
  </form>
  <p>4. From September 2008 through November 2008, stocks lost over 31%. If I owned a stock investment that lost about 31% in 3 months, I would: (If you owned stocks during this period, select the answer that corresponds to your actual behavior.)</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Sell all of the remaining investment. </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Sell a portion of the remaining investment.</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Hold onto the investment and sell nothing.</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Buy more of the investment.</label>
    </div>
  </form>
    <p>5. Generally, I prefer investments with little or no fluctuation in value, and I'm willing to accept the lower return associated with these investments. </p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Strongly disagree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Disagree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Somewhat agree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Agree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Strongly agree</label>
    </div>
  </form>
  <p>6. During market declines, I tend to sell portions of my riskier assets and invest the money in safer assets.</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Strongly disagree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Disagree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Somewhat agree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Agree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Strongly agree</label>
    </div>
  </form>
  <p>7. I would invest in a mutual fund based solely on a brief conversation with a friend, co­worker, or relative. </p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Strongly disagree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Disagree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Somewhat agree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Agree</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Strongly agree</label>
    </div>
  </form>
  <p>8. From September 2008 through October 2008, bonds lost nearly 4%. If I owned a bond investment that lost almost 4% in 2 months, I would: (If you owned bonds during this period, select the answer that corresponds to your actual behavior.) </p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Sell all of the remaining investment. </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Sell a portion of the remaining investment.</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Hold onto the investment and sell nothing.</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Buy more of the investment.</label>
    </div>
  </form>
  <p>9. The chart below shows the greatest 1­year loss and the highest 1­year gain on 3 different hypothetical investments of $10,000.* Given the potential gain or loss in any 1 year, I would invest my money in:</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">A (loss of $164, gain of $593) </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">B (loss of $1,020, gain of $1,921)</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">C (loss of $3,639, gain of $4,229)</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Buy more of the investment.</label>
    </div>
    <p>*The maximum gain or loss on an investment is impossible to predict. The ranges shown in the chart are hypothetical and are designed solely to gauge an investor's risk tolerance. </p>
  </form>
  <p>10. My current and future income sources (for example, salary, Social Security, pension) are:</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Very unstable</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Unstable</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Somewhat stable</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Stable</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Very stable</label>
    </div>
  </form>
  <p>11. When it comes to investing in stock or bond mutual funds (or individual stocks or bonds), I would describe myself as . . .</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio">Very inexperienced</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Somewhat inexperienced</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Somewhat experienced</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Experienced </label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Very experienced</label>
    </div>
  </form>  
</div>