<% if @advisors.empty? %>
  <h1>You must have an EthiCapital Advisor to complete a questionnaire</h1>
  <h3>Don't have an EthiCapital Advisor?</h3>
  <p>Search for an advisor near you, based on their area of focus, or both <a href="/search_advisors/new">here</a>.</p>

<% else %>
<div class="container">
  <h2>Client Questionnaire</h2>
  <%= form_tag("/questionnaires", method: "post") do %>

    <p>Please Select your EthiCapital Advisor:</p>
      <select name="advisor_id">
        <% @advisors.each do |advisor| %>
          <option value="<%= advisor.id %>"><%= advisor.name %></option>
        <% end %>
      </select>
      
    <hr>

    <p> 1. I plan to begin taking money from my 
    investments in . . . </p>
      <div class="radio">
        <label><input type="radio" name="question_1" value="1" checked>1 year or less </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_1" value="2">1 – 2 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_1" value="3">3 – 5 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_1" value="4">6 – 10 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_1" value="5">11 – 15 years </label>
      </div>
    <p> 2. As I withdraw money from these investments, I plan to spend it over a period of . . . </p>
      <div class="radio">
        <label><input type="radio" name="question_2" value="1" checked>2 years or less </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_2" value="2">3 – 5 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_2" value="3">6 – 10 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_2" value="4">11 – 15 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_2" value="5">More than 15 years </label>
      </div>
    <p> 3. When making a long­term investment, I plan to keep the money invested for . . . </p>
      <div class="radio">
        <label><input type="radio" name="question_3" value="1" checked>1 - 2 years</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_3" value="2">3 – 4 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_3" value="3">5 – 6 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_3" value="4">7 - 8 years </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_3" value="5">More than 8 years </label>
      </div>
    <p>4. From September 2008 through November 2008, stocks lost over 31%. If I owned a stock investment that lost about 31% in 3 months, I would: (If you owned stocks during this period, select the answer that corresponds to your actual behavior.)</p>
      <div class="radio">
        <label><input type="radio" name="question_4" value="1" checked>Sell all of the remaining investment. </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_4" value="2">Sell a portion of the remaining investment.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_4" value="3">Hold onto the investment and sell nothing.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_4" value="4">Buy more of the investment.</label>
      </div>
      <p>5. Generally, I prefer investments with little or no fluctuation in value, and I'm willing to accept the lower return associated with these investments. </p>
      <div class="radio">
        <label><input type="radio" name="question_5" value="1" checked>Strongly disagree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_5" value="2">Disagree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_5" value="3">Somewhat agree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_5" value="4">Agree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_5" value="5">Strongly agree</label>
      </div>
    <p>6. During market declines, I tend to sell portions of my riskier assets and invest the money in safer assets.</p>
      <div class="radio">
        <label><input type="radio" name="question_6" value="1" checked>Strongly disagree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_6" value="2">Disagree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_6" value="3">Somewhat agree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_6" value="4">Agree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_6" value="5">Strongly agree</label>
      </div>
    <p>7. I would invest in a mutual fund based solely on a brief conversation with a friend, co­worker, or relative. </p>
      <div class="radio">
        <label><input type="radio" name="question_7" value="1" checked>Strongly disagree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_7" value="2">Disagree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_7" value="3">Somewhat agree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_7" value="4">Agree</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_7" value="5">Strongly agree</label>
      </div>
    <p>8. From September 2008 through October 2008, bonds lost nearly 4%. If I owned a bond investment that lost almost 4% in 2 months, I would: (If you owned bonds during this period, select the answer that corresponds to your actual behavior.) </p>
      <div class="radio">
        <label><input type="radio" name="question_8" value="1" checked>Sell all of the remaining investment. </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_8" value="2">Sell a portion of the remaining investment.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_8" value="3">Hold onto the investment and sell nothing.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_8" value="4">Buy more of the investment.</label>
      </div>
    <p>9. The chart below shows the greatest 1­year loss and the highest 1­year gain on 3 different hypothetical investments of $10,000.* Given the potential gain or loss in any 1 year, I would invest my money in:</p>
      <div class="radio">
        <label><input type="radio" name="question_9" value="1" checked>A (loss of $164, gain of $593) </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_9" value="2">B (loss of $1,020, gain of $1,921)</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_9" value="3">C (loss of $3,639, gain of $4,229)</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_9" value="4">Buy more of the investment.</label>
      </div>
      <p>*The maximum gain or loss on an investment is impossible to predict. The ranges shown in the chart are hypothetical and are designed solely to gauge an investor's risk tolerance. </p>
    <p>10. My current and future income sources (for example, salary, Social Security, pension) are:</p>
      <div class="radio">
        <label><input type="radio" name="question_10" value="1" checked>Very unstable</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_10" value="2">Unstable</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_10" value="3">Somewhat stable</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_10" value="4">Stable</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_10" value="5">Very stable</label>
      </div>
    <p>11. When it comes to investing in stock or bond mutual funds (or individual stocks or bonds), I would describe myself as . . .</p>
      <div class="radio">
        <label><input type="radio" name="question_11" value="1" checked>Very inexperienced</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_11" value="2">Somewhat inexperienced</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_11" value="3">Somewhat experienced</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_11" value="4">Experienced </label>
      </div>
      <div class="radio">
        <label><input type="radio" name="question_11" value="5">Very experienced</label>
      </div>

    <div>
      <input type="submit" value="See your Risk Preference">
    </div>

  <% end %>
</div>
<% end %>