<h3>Make a New Proposal</h3>

<%= form_tag("/proposals", method: "post") do %>
  <label for="risk_model_id"> Risk Model ID </label>
  <div>
      <input type="text" name="risk_model_id">    
    </div>
  
  <label for="advisor_id"> Advisor ID </label>
    <div>
      <input type="text" name="advisor_id">    
    </div>

  <label for="client_id"> Client ID </label>
    <div>
      <input type="text" name="client_id">    
    </div>

  <label for="status"> Status </label>
    <div>
      <input type="text" name="status">    
    </div>

    <div>
      <input type="submit">
    </div>
<% end %>